.container {
  background-color: #f5f5f5;
}

.homejumia {
  display: flex;
  justify-content: space-around;
  background-color: #beb7b7;
  padding: 12px;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.cluster {
  margin: 10vh;
  background-color: white;
  padding: 12px;
  border-radius: 6px;
}

.clustering {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}

.cat {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px rgb(223, 207, 207);
}

.display {
  display: flex;
  margin-left: 10vh;
}

.categorie {
  background-color: white;
  padding: 12px;
  line-height: 40px;
  border-radius: 12px;
  width: 15%;
  margin-right: 5vh;
  height: 50vh;
}

.produit {
  background-color: white;
  padding: 12px;
}

.produits {
  border: "1px solid black";

  overflow: "auto";
  line-height: "50px";
}

.recommand {
  margin-top: 10vh;
  margin-left: 10vh;
  background-color: white;
  padding: 12px;
  border-radius: 6px;
}

.footer {
  padding: 12px;
  margin-top: 20px;
  text-align: center;
}

.footer_text {
  font-size: 17px;
  font-weight: bold;
}
